.profile__form-name {
  font-weight: 500;
  font-size: calc(27px + (42 - 27) * ((100vw - 320px) / (1280 - 320)));
  line-height: calc(33px + (48 - 33) * ((100vw - 320px) / (1280 - 320)));
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-area: name;
  margin: 0;
}

@media (min-width: 320px) and (max-width: 425px) {
  .profile__form-name {
    padding-left: 35px;
  }
}
