.profile__form-name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-area: name;
  margin: 0;
  max-width: 100%;
}

@media (min-width: 320px) and (max-width: 600px) {
  .profile__form-name {
    padding-left: 35px;
    font-size: 27px;
    line-height: 33px;
  }
}
