.gallery__button-delete {
  all: unset;
  min-width: 22px;
  height: 19px;
  background-image: url(../../../images/deleteBtn.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.gallery__button-delete:hover,
.gallery__button-delete:focus {
  background-image: url(../../../images/deleteBtnDark.svg);
}
