.popup__button-close {
  all: unset;
  width: 32px;
  height: 32px;
  position: absolute;
  top:-40px;
  right: -40px;
  background: url(../../../images/Close\ Icon.svg) center / cover;
  transition: opacity ease-in-out .3s;
  cursor: pointer;
}

.popup__button-close:hover {
  opacity: 0.6;
}

.popup__button-close:active {
  opacity: 1;
}

@media (min-width: 320px) and (max-width: 564px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
