.gallery__button-like {
  all: unset;
  min-width: 22px;
  height: 19px;
  background: url(../../../images/heart.svg) center no-repeat;
  transition: opacity ease-in-out .3s;
  cursor: pointer;
}

.gallery__button-like:hover {
  opacity: 0.5;
  transform: scale(1.3);
}

.gallery__button-like_active {
  background: url(../../../images/heart\ dark.svg) center no-repeat;
  opacity: 1;
  transition: opacity 0.1s linear;
}
