.page {
  max-width: 1280px;
  width: 100%;
  padding: 45px 200px 60px;
  box-sizing: border-box;
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 1275px) {
  .page {
    padding: 45px calc((100% - 880px) / 2) 60px;
  }
}

@media (max-width: 940px) {
  .page {
    padding: 40px calc((100% - 580px) / 2) 50px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 0 calc((100% - 282px) / 2);
  }
}

@media (max-width: 340px) {
  .page {
    padding: 0;
  }
}
