.gallery__heart {
  all: unset;
  width: 22px;
  height: 19px;
  background: url(../../../images/heart.svg) no-repeat;
  transition: opacity ease-in-out .3s;
  cursor: pointer;
}

.gallery__heart:hover {
  opacity: 0.5;
}

.gallery__heart:active {
  background: url(../../../images/heart\ dark.svg) no-repeat;
  opacity: 1;
  transition: opacity 0.1s linear;
}
