.profile {
  display: grid;
  grid: 120px / 120px auto minmax(200px, 1fr);
  gap: 30px;
  flex-direction: row;
  padding-top: 42px;
}

@media (max-width: 940px) {
  .profile {
    grid: 120px 1fr/ 120px auto;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .profile {
    flex-direction: column;
    grid: 120px 1fr 50px/ auto;
    align-items: center;
    gap: 26px;
    padding-top: 0;
  }
}
